@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  height: 100%;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.css-gradient {
  background: linear-gradient(323deg, #000000, #94a3b8);
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;

  -webkit-animation: AnimationName 37s ease infinite;
  -moz-animation: AnimationName 37s ease infinite;
  -o-animation: AnimationName 37s ease infinite;
  animation: AnimationName 37s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}
@keyframes AnimationName {
  0%{background-position:93% 0%}
  50%{background-position:0% 100%}
  100%{background-position:93% 0%}
}

.css-orange {
  background: linear-gradient(270deg, #ffa62b, #ff9400, #e48500);
  background-size: 600% 600%;
  background-clip: text;
  color: transparent;

  -webkit-animation: AnimationName 37s ease infinite;
  -moz-animation: AnimationName 37s ease infinite;
  -o-animation: AnimationName 37s ease infinite;
  animation: AnimationName 37s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.css-purple {
  background: linear-gradient(270deg, #972bff, #af00ff, #a700e4);
  background-size: 600% 600%;
  background-clip: text;
  color: transparent;

  -webkit-animation: AnimationName 37s ease infinite;
  -moz-animation: AnimationName 37s ease infinite;
  -o-animation: AnimationName 37s ease infinite;
  animation: AnimationName 37s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}