---
import Layout from "../layout/Layout.astro";
import "../styles/index.css";
---

<Layout>
  <main class="font-inter mx-5">
    <section class="text-center mt-20">
      <p class="font-bold md:text-2xl">Contáctanos</p>
      <article class="rounded-2xl border border-slate-200 md:w-[600px] mx-auto my-auto mt-20 p-10">
        <p>Puedes darle click al enlace siguiente para hablarnos de tu siguiente proyecto🚀</p>
        <br>
        <a href="mailto:sales@momotus.systems?subject=Cotización%20proyectos%20Momotus%20Systems">sales@momotus.systems</a>
      </article>
    </section>
  </main>
</Layout>
