<article class="flex align-baseline">
  <section class="grid grid-rows-5 mx-auto my-auto">
    <div class="flex justify-start items-center gap-2">
      <img src="/src/img/check.svg" alt="check" class="w-5 sm:w-9" />
      <p class="text-xs sm:text-base">Soporte personalizado</p>
    </div>
    <div class="flex justify-start items-center gap-2">
      <img src="/src/img/check.svg" alt="check" class="w-5 sm:w-9" />
      <p class="text-xs sm:text-base">Soluciones escalables para negocios en crecimiento</p>
    </div>
    <div class="flex justify-start items-center gap-2">
      <img src="/src/img/check.svg" alt="check" class="w-5 sm:w-9" />
      <p class="text-xs sm:text-base">Tecnología de vanguardia</p>
    </div>
    <div class="flex justify-start items-center gap-2">
      <img src="/src/img/check.svg" alt="check" class="w-5 sm:w-9" />
      <p class="text-xs sm:text-base">Privacidad y seguridad de nivel empresarial</p>
    </div>
    <div class="flex justify-start items-center gap-2">
      <img src="/src/img/check.svg" alt="check" class="w-5 sm:w-9" />
      <p class="text-xs sm:text-base">Soluciones 100% Open Source</p>
    </div>
  </section>
</article>
