<section class="text-center mt-10 font-inter">
  <div class="mt-16">
    <p class="font-semibold">Consulta Inicial</p>
    <p class="text-xs sm:text-base mx-10">
      Escuchamos tus necesidades y objetivos para entender lo que tu negocio
      realmente necesita.
    </p>
  </div>
  <div class="mt-16">
    <p class="font-semibold">Propuesta Personalizada</p>
    <p class="text-xs sm:text-base mx-10">
      Te presentamos una solución a medida, con un plan claro, presupuesto y
      tiempos de entrega.
    </p>
  </div>
  <div class="mt-16">
    <p class="font-semibold">Desarrollo</p>
    <p class="text-xs sm:text-base mx-10">
      Nuestro equipo se pone manos a la obra, manteniéndote informado en
      cada etapa del proyecto.
    </p>
  </div>
  <div class="mt-16">
    <p class="font-semibold">Entrega Final</p>
    <p class="text-xs sm:text-base mx-10">
      Revisamos, probamos y te entregamos el producto listo para su uso.
    </p>
  </div>
  <div class="mt-16">
    <p class="font-semibold">Soporte Continuo</p>
    <p class="text-xs sm:text-base mx-10">
      Después de la entrega, seguimos a tu lado para garantizar que todo
      funcione correctamente y ayudarte con cualquier duda.
    </p>
  </div>

  <img src="/src/img/opensource.svg" alt="opensource" class="w-12 mt-20 mx-auto my-auto">
</section>