---
import { ViewTransitions } from "astro:transitions";
import { Navbar, Footer } from "../components";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/momotus_logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/src/styles/index.css" />
    <title>Momotus Systems</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
